.video-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 59px;
}

.video-box {
    position: relative;
    width: 500px;
    height: 700px;
    background: #000;
    overflow: hidden;
}

.video-box video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 18px;

}

section {
    padding: 80px 10%;
}

section h2 {
    text-align: center;
    margin-bottom: 60px;
    color: black;
    font-size: 30px;
    letter-spacing: 1px;
}

.process {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.process div {
    background: #ffffff;
    padding: 40px 25px;
    text-align: center;
    border-radius: 12px;
    border-top: 4px solid #6b4f3f;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.process div:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.process h3 {
    color: black;
    font-size: 30px;
    margin-bottom: 15px;
}

.process p {
    color: #6f6f6f;
    line-height: 1.7;
}


.blog-section {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    padding: 80px 10%;
}


.blog-content {
    flex: 1;
    max-width: 500px;
    justify-content: center;

    align-items: center;

    text-align: center;
    margin-top: 140px;
}

.blog-content h3 {
    font-size: 30px;
    margin-bottom: 18px;
}

.blog-content p {
    color: #666;
    line-height: 1.7;
}


.contact-row {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    flex-direction: column;
}

.phone {
    font-weight: 600;
    color: #111;
}


.button {
    display: inline-block;
    padding: 12px 30px;
    background-color: #111;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #444;
    transform: translateY(-2px);
}


.blog-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.blog-image img {
    width: 500px;
    height: 650px;
    object-fit: cover;
    border-radius: 160px 0 0 160px;
}



.palette-section {
    padding: 40px 50px;
}

.palette-section h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.palette-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.palette-card img {
    width: 350px;
    height: 400px;
    object-fit: cover;
    border: 2px solid #000;
}


.faq-container {
    max-width: 1000px;
    margin: auto;
}

.faq-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    border-radius: 11px;
    overflow: hidden;
}

.faq-table th,
.faq-table td {
    padding: 15px 20px;
}

.faq-table th {
    background: #b3a492;
    color: #fff;
}

.faq-table tr:nth-child(even) {
    background: #f5f1eb;
}

.faq-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.faq-message {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #6f6f6f;
}


.faq-button a {
    display: inline-block;
    padding: 15px 30px;
    background-color: #b3a492;
    color: #f5f1eb;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.faq-button a:hover {
    background-color: #b3a492;
    transform: translateY(-3px);
}

@media (max-width: 1024px) {
    .video-container {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .video-box {
        display: none;
    }

    .video-box:first-child {
        display: block;
        width: 100%;
        height: auto;
    }

    .palette-card img {
        width: 90%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .blog-section {
        flex-direction: column;
    }

    .blog-image img {
        width: 100%;
        height: auto;
        border-radius: 80px 0 0 80px;
    }


}