
.HomeWelcomeContainer {
  width: 100%;
  height: 100vh;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}

.welcomeright {
  width: 50%;
  height: 98%;
  border-top-right-radius: 130px;
  box-shadow: 1px 4px 16px rgb(70, 62, 62);
  overflow: hidden;
}

.welcomeright img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.welcomeleft {
  width: 50%;
  height: 98%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.welcomeleft button {
  padding: 10px 24px;
  background-color: rgb(230, 229, 224);
  border: none;
  box-shadow: 0px 1px 5px grey;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  margin-top: 70px;
  border-radius: 5px;
}
.welcomeleft button a {
  color: #4c3e2f;
  font-weight: 550;
  text-decoration: none;
}
.welcomeleft button:hover {
  transform: translateY(-5px);
}
.welcomeleft .text {
  text-align: center;
}

.welcomeleft h1 {
  transform: translateY(-100px);
  color:#395739;
  font-size: 40px;
  letter-spacing: 3px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.633);
}

.welcomeleft h3 {
  color: rgba(112, 96, 79, 0.9);
  font-size: 22px;
  letter-spacing: 1.5px;
}

.welcomeleft p {
  margin-top: 7%;
  color: #494238;
  font-size: 1.1rem;
  line-height: 1.7;
  text-align: center;
}

.Explore {
  height: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.CategoriesBanner {
  height: 150px;
  padding: 10px;
  text-align: center;
  line-height: 2;
}
.CategoriesBanner h2 {
  color: rgb(46, 65, 46);
  font-weight: 600;
  font-size: 30px;
}

.CategoriesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 10px;
}
.CategoriesContainer .card {
  width: 330px;
  height: 450px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}
.card:hover {
  transform: translateY(-7px);
}

.card:hover .Cimg img {
  box-shadow: 0px 1px 19px grey;
}

.card .Cimg {
  height: 85%;
}

.Cimg img {
  width: 100%;
  overflow: hidden;
  height: 100%;
  object-fit: cover;
}
.Ctext {
  height: 12%;
  padding-top: 10px;
  text-align: center;
}
.Ctext button {
  border: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
}
.bestSeller {
  width: 100%;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}
.bestSeller h2 {
  font-size: 40px;
  font-weight: 530;
  margin-bottom: 5rem;
}
.slider {
  display: flex;
  gap: 10px;
  transition: transform 1s ease;
}
.post {
  min-width: 300px;
  margin-right: 20px;
}
.postimg img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
  
.newsletter {
  text-align: center;
  line-height: 2;
  margin: 7% auto 0px auto;
  height: 60vh;
}
.nccard {
  background-color: rgba(234, 230, 226, 0.717);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter input {
  padding: 10px;
  margin-top: 15px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.newsletter button {
  padding: 10px 20px;
  background-color: rgba(109, 98, 62, 0.822);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.whyUs{

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.whyHolder{
  width: 100%;
  text-align: center;
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.whyHolder h1{
  margin-bottom: 40px;

}

.whyHolder .container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  justify-content: center;
}

.whyCont{
  width: 35%;
  min-height: 120px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.158);
}
.whyCont h1{
  font-size: 18px;
  
}
.whyCont .text{
  display: flex;
  gap: 15px;

  justify-content: center;
  align-items: center;
}

.whyCont img{
  width: 40px;
}
.whyCont p{
  text-align: left;
  line-height: 1.4;

}
.whyCont .text img{
  background-color: #4c3e2f51;
  padding: 2px;
  border-radius: 25px;
  cursor: pointer;
}


@media screen and (max-width: 1024px) {
  nav ul {
    gap: 10px;
  }
}
@media screen and (max-width: 850px) {
  nav {
    padding: 10px 15px;
  }

  nav ul {
    gap: 12px;
  }

  .HomeWelcomeContainer {
    flex-direction: column-reverse;
    height: auto;

  }
  .welcomeright,
  .welcomeleft {
    width: 100%;
    height: auto;
  }
  .welcomeleft{
    margin-bottom: 20px;
  }
  .welcomeright {
    border-radius: 0px !important;
    height: 70vh;
  }

  .welcomeleft h1 {
    font-size: 22px;
    transform: none;
    margin-top: 10px;
  }

  .welcomeleft h3 {
    font-size: 15px;
    margin-top: 15px;
  }
 

  .welcomeleft p {
    font-size: 16px;
    width: 90%;
    margin: 20px auto;
  }

  .welcomeleft button {
    margin-top: 20px;
  }

  .CategoriesContainer {
    gap: 20px;
  }

  .bestSeller h2 {
    font-size: 28px;
  }
  .nccard {
    padding: 25px;
  }
}

@media screen and (max-width: 650px) {
  nav ul {
    display: none;
  }

  nav {
    justify-content: center;
  }

  .HomeWelcomeContainer {
    margin-top: 70px;
  }

  .welcomeleft h1 {
    font-size: 16px;
  }

  .welcomeleft p {
    font-size: 12px;
  }

  .post {
    min-width: 250px;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 14px;
  }
  .welcomeleft h1{
    font-size: 16px;
  }

  .postimg img {
    height: 240px;
  }

  .newsletter input {
    width: 230px;
  }
  #news input{ 
  margin-bottom: 10px;
  }

  .bestSeller h2 {
    font-size: 20px;
  }

  .footer-container {
    gap: 25px;
  }
  .CategoriesBanner h2{
    font-size: 16px;
    font-weight: 800;
  }
}
#menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

#menu li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#burger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

@media (max-width: 750px) {
  #burger {
    display: block;
  }
  .b{
    color: black !important;
  }

  #menu {
    display: none;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.922);
    position: absolute;
    top: 60px;
    right: 0;
    width:100%;
    padding: 15px;
    gap: 10px;
  }

  #menu.show {
    display: flex;
  }

}

@media screen and (max-width: 1024px) {
  .whyCont {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .whyCont {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .whyCont {
    width: 90%;
  }

  .whyCont .text {
    gap: 10px;
  }

  .whyCont img {
    width: 35px;
  }

  .whyCont p {
    font-size: 14px;
    line-height: 1.5;
  }
}



