/* global css*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {

  overflow-x: hidden;
}

body {
  background: linear-gradient(to right, #efefef, #eeeded);
  font-family: "Bebas Neue", sans-serif;
}

/*navigation bar css*/

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

nav {
  width: 100%;
  height: 60px;
  padding: 15px;
  background-color: rgba(112, 96, 79, 0.783);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 12px rgb(33, 30, 14);
}

nav h3 {
  cursor: pointer;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.836);
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.847) !important;
  cursor: pointer;
  padding: 7px;
  display: block;
  transition: 0.3s ease-in-out;
}

nav ul li a:hover {
  transform: translateY(-4px);
}

/*footer css*/

.footer {
  background: #9185708e;
  padding: 60px 8%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 15px;
}

.footer-logo {
  font-size: 28px;
  letter-spacing: 1px;
}

.footer-desc {
  color: #ffffff;
  margin-bottom: 20px;
  line-height: 1.5;
}

.footer-socials a {
  color: #ffffff;
  font-size: 20px;
  margin-right: 15px;
  transition: 0.3s;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #ffffff !important;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #000000;
}

.footer-section .email {
  margin-top: 10px;
}

.footer-socials img {
  width: 30px;
  height: 30px;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #ffffff;
  padding-top: 15px;
  color: #423232ee;
  font-size: 14px;
}



#menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

#menu li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#burger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}
.ic.hide{
  display: none;
}
@media (max-width: 750px) {
  #burger {
    display: block;
  }
  .b{
    color: black !important;
  }
  .ic{
    display: none;
  }
  .ic.hide{
    display: block;
  }

  #menu {
    display: none;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.922);
    position: absolute;
    top: 60px;
    right: 0;
    width:100%;
    padding: 15px;
    gap: 10px;
  }

  #menu.show {
    display: flex;
  }

  
}








