* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Garamond, serif;
  overflow: hidden;
}

.SignCard {
  width: 100%;
  height: 100vh;
}

.SignLeft {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.cl {
  text-align: center;
  width: 100%;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.SignUpTitle {
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

input {
  width: 34%;
  display: block;
  height: 43px;
  margin: 0 auto 20px auto;
  border-radius: 10px;
  border: 2px solid rgb(114, 82, 46) !important;
  padding: 0 10px;
}

input::placeholder {
  color: rgb(114, 82, 46) !important;
}

input[type="submit"] {
  background-color: #79705c;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  box-shadow: 0px 1px 3px gray;
  transition: 0.3s ease-in-out;
}

input[type="submit"]:hover {
  box-shadow: 0px 2px 10px gray;
  padding: 2px 7px;
}

.signUp {
  display: block;
  margin-top: 10px;
  color: black;
  font-size: 18px;
  margin-right: 15px;
}

span {
  display: none;
}

.signUp a {
  color: rgba(77, 50, 21, 0.9);
  text-decoration: none;
  font-weight: 600;
}

input:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
}

input.error:focus {
  outline: 2px;
  border-color: #da0000;
  transform: translateY(-2px);
  transition: all 0.2s ease;
}

.SignupName.error,
.SignupEmail.error,
.SignupPassword.error,
.ConfirmedPassword.error {
  border: 2px solid rgb(197, 19, 19);

}

.SignupName.error::placeholder,
.SignupEmail.error::placeholder,
.SignupPassword.error::placeholder,
.ConfirmedPassword.error::placeholder {
  color: rgb(251, 9, 9);
}