
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
   box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}

form , #updateMessageForm{
  background: #fff;
  padding: 30px 35px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  max-height: 600px;
  width: 650px;

}


h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
  font-size: 24px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
    color: #555;
}

input {
  width: 95%;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}



input.Error,
textarea.Error {
  border: 2px solid red;
  outline: none; 
}

div.Error {
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
  display: block; 
}


button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

textarea {
  width: 95%;
  height: 100px;
}

button:hover {
  background: #0056b3;
  transform: scale(1.02);
}

@media (max-width: 500px) {
  form {
    padding: 50px;
    width: 86%;
    height: 600px;
  }

  h2 {
    font-size: 40px;
  }
}
